<ion-footer class="ion-no-border footer">
  <hr class="footer__line">

  <ion-row class="ion-justify-content-between ion-align-items-center ion-margin-top">
    <ion-row class="footer__links">
      <a href="#" class="footer__link">Privacy Policy</a>
      <a href="#" class="footer__link">Terms of Service</a>
      <a href="#" class="footer__link">Cookies Settings</a>
    </ion-row>
    <ion-label class="footer__copyrights">© 2023 MyEdu. All rights reserved.</ion-label>
  </ion-row>
</ion-footer>
