@import "../../../theme/media";


ion-toolbar {
  height: var(--desktop-header-height);
  padding: 0 110px;
  --background: var(--ion-color-primary);
  display: flex;

  @include mediaScreen("tablet") {
    height: auto;
    padding: 8px 16px;
  }
}
