<div class="subscriptionSummary">
  <ion-label class="subscriptionSummary__title">Summary</ion-label>
  <ion-text class="subscriptionSummary__subTitle">of your Monthly Surprise Box</ion-text>


  <ion-card class="subscriptionSummary__card">
    <ion-row class="ion-justify-content-between">
      <ion-label class="subscriptionSummary__subscription">Mystery Box</ion-label>
      <ion-label class="subscriptionSummary__price">SAR <span>456</span></ion-label>
    </ion-row>

    <ion-row class="ion-justify-content-between">
      <ion-label class="subscriptionSummary__subscription-name">X1</ion-label>
      <ion-label class="subscriptionSummary__subscription-duration">Monthly</ion-label>
    </ion-row>
  </ion-card>

  <ion-row class="ion-justify-content-between ion-margin-bottom">
    <ion-label class="subscriptionSummary__label">Subtotal</ion-label>
    <ion-label class="subscriptionSummary__value">SAR <span>456</span></ion-label>
  </ion-row>

  <ion-row class="ion-justify-content-between ion-margin-bottom">
    <ion-label class="subscriptionSummary__label">Shipping</ion-label>
    <ion-label class="subscriptionSummary__free">Free</ion-label>
  </ion-row>

  <ion-row class="ion-justify-content-between">
    <ion-label class="subscriptionSummary__label">Taxes</ion-label>
    <ion-label class="subscriptionSummary__value">SAR <span>4.0</span></ion-label>
  </ion-row>

  <hr class="subscriptionSummary__line">

  <ion-row class="ion-justify-content-between">
    <ion-label class="subscriptionSummary__total">Total</ion-label>
    <ion-label class="subscriptionSummary__value">SAR <span>456</span></ion-label>
  </ion-row>

  <ion-row class="ion-justify-content-end">
    <ion-label class="subscriptionSummary__subscription-duration">Monthly</ion-label>
  </ion-row>
</div>
