<div class="surprise-box">
  <ion-label class="surprise-box__title" [innerHTML]="'Discover the magic of our \n surprise box'"></ion-label>

  <ion-text class="surprise-box__subTitle"
            [innerHTML]="'Unleash your child&apos\;s curiosity with our educational subscription box \n filled with fun and learning.'"></ion-text>

  <ion-button class="surprise-box__button">
    <ion-label>Subscribe Now</ion-label>
  </ion-button>

  <img src="assets/images/surprise-box.webp" alt="Surprise Box" class="surprise-box__image" />
</div>
